.flex {
    display: flex;
}

th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: rgb(174, 169, 169);
}
.pesquisa{
   padding: 100px;  
}
.navbar{



}
